<h2>LOGIN</h2>

<form action='/register/login' method='post'>
  Email:
  <input type='email' name='email' id='email' />
  Password:
  <input type='password' name='password' id='password' />
  <input type='submit' value='LOGIN' />
</form>

<h2>Inicia sesion en GITHUB</h2>
<button onclick="location.href='/register/signupGithub'">Iniciar en GITGUB</button>

<h3>多Has olvidado la contrase単a?</h3>
<button onclick="location.href='/register/recoverPage'">Recuperar Contrase単a</button>

<h2>多No tienes cuenta? Registrate</h2>
<button onclick="location.href='/register'">Registrate</button>